li {
  margin: 5px;
  font-size: 40px;
  color: rgb(245, 245, 245);
  width: 300px;
  list-style: none
}

h1 {
  margin: 5px;
  font-size: 50px;
  color: rgb(245, 245, 245);
  
}

p {
  margin: 5px;
  font-size: 20px;
  
}

body {
  display: grid;
  background-image: url(https://cs10.pikabu.ru/post_img/2019/03/23/10/1553360785138356730.png);
  background-size: cover;
}

.link {
  margin: 5px;
  text-decoration: none;
  margin: 40px;
  font-size: 30px;
  color: rgb(245, 245, 245);
}

nav {
  backdrop-filter: blur(10px);
  margin: 5px;
  text-align: center;
  justify-self: center;
  width: 1200px;
  border-radius: 30px;
  padding: 25px;
  background: linear-gradient(135deg, rgba(12,12,12,0.7), rgba(74,14,78,0.9));
  box-shadow: 0 4px 30px rgba(132, 0, 255, 0.2);
}

input {
  font-size: 25px;
  width: 300px;
  margin: 5px;
  background: linear-gradient(135deg, rgba(168, 21, 179, 0.6), rgba(34, 34, 34, 0.1)  );
  border-radius: 15px;
  border: none;
  color: rgb(245, 245, 245);
  transition: 0.3s;
}

input:hover {
  background: linear-gradient(135deg, rgba(168, 21, 179, 0.8), rgba(34, 34, 34, 0.3)  );
  box-shadow: 0 0px 10px 2px rgba(168, 21, 179, 0.8);
}

button {
  margin: 5px;
  font-size: 25px;
  width: 150px;
  border-radius: 15px;
  border: none;
}

.sub {
  background: linear-gradient(155deg, rgba(41, 255, 58, 0.4), rgba(74,14,78,0.7));
  box-shadow: 0 0px 10px 1px rgba(41,255,58,0.3);
  transition: 0.3s;
}

.sub:hover{
  background: linear-gradient(155deg, rgba(41, 255, 58, 0.6), rgba(74,14,78,0.9));
  box-shadow: 0 0px 12px 2px  rgba(41,255,58,0.6);
}

.cle {
  background: linear-gradient(155deg, rgba(82, 12, 87, 0.7), rgba(255, 41, 58, 0.4));
  box-shadow: 0 0px 10px 1px rgba(255,41,58,0.3);
  transition: 0.3s;
}

.cle:hover{
  background: linear-gradient(155deg, rgba(74,14,78,0.9), rgba(255, 41, 58, 0.6));
  box-shadow: 0 0px 12px 2px  rgba(255,41,58,0.6);
}

.sys {
  background:linear-gradient(115deg, rgba(12,12,12,0.4), rgba(74,14,78,0.5) ) ;
  width: 500px;
  border-radius: 70px;
} 

.acti {
  color: lightgreen;
  transition: 0.3s;
}

.unacti {
  color: rgb(238, 69, 69);
  transition: 0.3s;
}

.acti:hover {
  color: rgb(60, 255, 60);
}

.unacti:hover {
  color: red;
}

.dor {
  transition: 1s;
}